@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    background-color: #F1F1F1;
}

h1{
    font-size: 32px;
}

#aboutme h1 {
    font-size: 64px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
    color: #333;
    line-height: 150%;
}


.jumbotron{
    text-align: center;
    font-size: 32px;
    color: #ffffff;   
    background-color: black;
}

.jumbotron-image {
    opacity: 80%;
    width: 100%;
    max-height: 480px;
    object-fit: cover;
    object-position: center;
}

header {
    float: left;
}


nav {
    background-color: #ffffff;
    padding: 16px;
    position: sticky;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav li {
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(10, 10, 10);

}

nav a:hover {
    font-weight: bold;
}






/* ------------------------------------ MAIN --------------------------------------- */

main {
    padding: 24px;
    overflow: auto;
}

.featured-image {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
    object-position: center;
}

.card {
    border-radius: 8px;
    padding: 36px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#content {
    float: right;
    width: 75%;
}





/* ------------------------------------ MAIN --------------------------------------- */






/* ------------------------------------ ASIDE --------------------------------------- */

aside {
    padding-right: 24px;
    float: left;
    width: 25%;
}

.profile img {
    border-radius:120px ;
}

.profile header {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
  }





/* ------------------------------------ MAIN --------------------------------------- */







footer {
    padding: 64px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}







