@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
}


h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-family: 'Proza Libre', sans-serif;
}


.jumbotron{
    padding: 60px;
    text-align: center;
    font-size: 32px;
    color: #ffffff;   
    background-color: aqua;
}

.jumbotron-image {
    width: 100%;
    max-height: 480px;
    object-fit: cover;
    object-position: center;
}


nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;

}

nav a:hover {
    font-weight: bold;
}









/* ------------------------------------ MAIN --------------------------------------- */

main {
    padding: 24px;
}

.featured-image {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    object-position: center;
}

.card {
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}






/* ------------------------------------ MAIN --------------------------------------- */






/* ------------------------------------ ASIDE --------------------------------------- */

.profile img {
    width: 196px;
}

.profile header {
    text-align: center;
}




/* ------------------------------------ MAIN --------------------------------------- */







footer {
    padding: 64px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}







